<div class="row mb-4 post">
  <div class="col-12">
    <h2>
      <a href="/post/{{id}}">{{title}}</a>
      <span>Posted by {{user.name}} on {{format_date created_at}}</span>
    </h2>
  </div>
  <div class="col-12">
    <p>
      {{content}}
    </p>
  </div>
  <!-- Add buttons here -->
  <div class="col-12">
    <button class="btn btn-primary" onclick="location.href='/posts/{{id}}'">Update</button>
    <button class="btn btn-danger" id="delete-post-button" data-id="{{id}}">Delete Post</button>
  </div>
<div>

<h4>Comments Section</h2>
{{#each comments as |comment|}}
  <div class="row mb-4 comment">
    <div class="col-12">
      <h6>{{comment.user.name}}</h3>
      <p>{{comment.content}}</p>
    </div>
  </div>
{{/each}}
    

<div>
  <form class="form comment-form " data-post-id="{{id}}">
    <div class="form-group">
      <label for="new-comment">New Comment:</label>
      <textarea class="form-input" id="new-comment" rows="3"></textarea>
    </div>
    <div>
      <button class="btn btn-primary" type="submit">Add Comment</button>
    </div>
  </form>
</div>

<script src="/js/comments.js"></script>
<script src="/js/deletepost.js"></script>